.view-button {
  background-color: #00A0E7;
  color: white;
  border-radius: 10px;
  padding: 2px 8px;
}


.details-title {
  margin-top: 24px;
  font-weight: bold;
  font-size: 16px;
  display: block;
}

.search-table {
  th,td {
    border: 2px solid black;
    padding: 4px;
  }
}
