.wp-background {
  width: 100%;
  background-color: #012842;
}

.csr-container {
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(22, 182, 217);
  background-color: #012842;
  margin-left: 10px;
  align-content: center;
  padding-top: 14px;
  padding-left: 21%;
  padding-bottom: 20px;
}

.logo {
  display: inline-block;
  position: relative;
  left: 57px;
}

.banner {
  position: relative;
  top: 8px;
  right: -15px;
  display: inline-block;
  font-family: "Lato-Bold", "Lato Bold", "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 10px;
  padding: 12px 0px 0px 25px;
}
