.wp-background {
  width: 100%;
  background-color: #c7e8ef;
}

.container {
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c7e8ef;
  margin-top: 0px;
}

.mode-button {
  font-weight: normal;
  padding: 10px 60px 10px 60px;
  border-radius: 15px 15px 0px 0px;
  color: #999;
  background-color: #ccc;
}

.mode-button-selected {
  font-weight: bolder;
  color: white;
  background-color: #004053;
}

.mode-button-selected:focus{
  outline: 0px none;
}

.tab-container {
  background-color: #ccc;
}

.title-container {
  background-color: white;
  height: 100px;
  padding-left: 25px;

  .title-text {
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
  }

  & h1 {
    color: white;
  }
}
